@import '~antd/es/style/themes/default.less';

.containers {
  > :global(.ant-row) {
    margin-bottom: 24px;
  }

  .info {
    flex-flow: nowrap;
  }

  .actions {
    button {
      border: none;
    }
  }
}

.header {
  margin-bottom: 8px;
}

.infoLimit {
  max-width: 200px;
  white-space: nowrap;

  > div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.content {
  .preview img,
  .preview video {
    max-width: 100%;
    height: 320px;
    max-height: 400px;
    object-fit: contain;
    overflow: hidden;
  }
}
